<template name="DatePicker">

  <div class="date-picker">

    <div class="predefined">
      <ul>
        <li class="today">Today</li>
        <li class="tomorrow">Tomorrow</li>
        <li class="this-week">This week</li>
        <li class="next-week">Next week</li>
        <li class="this-month">This month</li>
        <li class="next-month">Next month</li>
        <li class="custom">Pick date</li>
        <li class="none"></li>
        <li>No date</li>
      </ul>
    </div>

  </div>

</template>
