<template name="Settings">

  <section class="main settings">
    <form>

      <h4>Calendar</h4>
      <label for="fdotw">First day of the week</label>
      <select id="fdotw">
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
        <option value="Monday" selected>Monday</option>
      </select>

      <h4>Lists</h4>
      <label for="">Default sorting</label>
      <select name="" id="">
        <option value="">Newest first</option>
        <option value="">Oldest first</option>
      </select>

    </form>
  </section>
</template>
