<template name="Welcome">

  <section class="welcome">

    <h2>Welcome to Organizr!</h2>

    <form>
      <label for="name">Your Name:</label>
      <input type="text" id="name">

      <label for="email">Your E-Mail Address:</label>
      <input type="email" id="email" required>

      <label for="password">Your Password</label>
      <input type="password" id="name" required>

      <button type="submit">Create New Account</button>
    </form>

    <p><a href="#">Already have an account?</a></p>

    <p><a href="#">Don't want to create an account?</a></p>

  </section>

</template>
