<template name="List">

  <img src="/images/ic_submenu.svg" alt="" class="sub-menu-icon">
  <ul class="sub-menu">
    <li class="toggle-done">
      {{#if showCompletedTasks}}
      Hide completed tasks
      {{else}}
      Show completed tasks
      {{/if}}
    </li>
    {{#unless isSpecialList }}
    <!-- <li class="edit">Edit list</li> -->
    <li class="delete">Delete list</li>
    {{/unless}}
  </ul>

  <section class="main cards">

    {{#if hasItems}}

      {{#each items}}

        {{> Item this}}

      {{/each}}

    {{/if}}

    {{#if showCompletedTasks}}
      {{#if hasCompletedItems}}
      <h4>Completed tasks</h4>
        {{#each completedItems}}
          {{> Item this}}
        {{/each}}
      {{/if}}
    {{/if}}

    {{#if hasNoItemsAtAll}}
      <p class="no-content">No items yet.</p>
    {{/if}}

  </section>

  {{> AddItem}}

</template>
