* {
	font-family: -apple-system,".SFNSText-Regular","Helvetica Neue","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;

	&:focus {
		outline: none;
	}
}

body {
	background-color: #def;
	// background: url(/images/backgrounds/garrapata-state-park.jpg) no-repeat 100% 100% fixed;

	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

	height: 100%;
	overflow: hidden;
}

section.main {
	padding-top: 60px;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	position: absolute;
	right: 0;
	top: 0;
}

select {
	font-size: 1em;
}

hr {
	border-bottom: 1px solid rgba(0,0,0,.2);
}


@media (min-width: 750px) {

	section.main {
		margin-left: 220px;
	}

}
