<template name="AddItem">

  {{#if editItem}}
    <img src="/images/ic_submenu.svg" alt="Edit item options" class="sub-menu-icon">
    <ul class="sub-menu">
      <!-- <li>Move to</li> -->
      <li class="delete">Delete</li>
    </ul>
  {{/if}}

  <form id="add-item">
  	<textarea id="item-description" placeholder='Add item to "{{list.name}}"' rows="5">{{#if editItem}}{{editItem.description}}{{/if}}</textarea>

    <footer>
      <div class="item-date-info {{#if editItem.date}}show{{/if}}">{{#if editItem}}{{dateInfo editItem.date}}{{/if}}</div>
      <img src="/images/ic_event.svg" class="date">
      <!-- <img src="/images/ic_star.svg" class="star"> -->
      <!-- <img src="/images/ic_share.svg" class="share"> -->
      <!-- <img src="/images/ic_attachment.svg" class="attachment"> -->
      <button type="submit">{{#if editItem}}{{i18n 'save'}}{{else}}Add{{/if}}</button>
      <input type="hidden" name="date" class="item-date" value="{{editItem.date}}">
    </footer>

  </form>

  {{> DatePicker}}

</template>
